@import "@nativescript/theme/core";
@import "@nativescript/theme/blue";

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

// Font icon class
Page {
  // background: red;
  margin: 5% 3% 0 3%;
}

Page.login {
  margin: 0;
}

Page.success > StackLayout {
  // background-color: red;
  margin: 4% 0;
}

Page.success .status-success {
  color: #2abfc4;
  font-size: 20px;
  font-weight: bold;
}

Page.success .status-minor.header {
  color: #e6494b;
  font-size: 20px;
  font-weight: bold;
}

Page.success .status-minor {
  color: #e6494b;
  font-size: 15px;
  font-weight: bold;
}

// #e6494b
Page.success .qr {
  font-size: 20px;
  font-weight: bold;
  color: #f68f4f;
}

Page.success .visit-status-green {
  font-size: 12px;
  font-weight: bold;
  color: #2abfc4;
}

Page.success .visit-status-red {
  font-size: 12px;
  font-weight: bold;
  color: #e6494b;
}


Page.success Image {
  padding: 5%;
  margin-top: 2%;
}

Page.success Image.status-success {
  background: #2abfc4;

}

Page.success Image.status-minor {
  background: #e6494b;
}

Page.success .name {
  font-size: 15px;
  font-weight: bold;
}

Page.success .info-label {
  // font-size: 15px;
  color: grey;
  font-size: 12px;
  font-weight: bold;
}

Page.success .info-content {
  font-size: 12px;
  font-weight: bold;
}

Page.success .hdf-label {
  color: grey;
  font-size: 15px;
  font-weight: bold;
}

Page.success .hdf-content {
  font-size: 15px;
  font-weight: bold;
}

Page#blocked {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 82%, rgba(230,73,75,1) 100%);
}

.fab {
  font-family: "Font Awesome 5 Brands", "fa-brands-400";
  font-weight: 400;
}

.fas {
  font-family: "Font Awesome 5 Free", "fa-solid-900";
  font-weight: 900;
}

.far {
  font-family: "Font Awesome 5 Free", "fa-regular-400";
  font-weight: 400;
}

.background {
  background-image: url('~/assets/images/Untitled.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.input-rounded {
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  opacity: 0.7;
  border-width: 1;
  background-color: white;
  margin-bottom: 20px;
  border-radius:30;
}

.round-btn {
  border-radius:30;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 1;
  color: white;
  font-size: 20rem;
  font-weight: bold;
  background: #f68f4f;
}

.round-btn-success {
  border-radius:30;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 1;
  color: white;
  font-size: 20rem;
  font-weight: bold;
  background: #6edb1b;
}

.round-btn-no-bg {
  border-radius:30;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 1;
  color: white;
  font-size: 20rem;
  font-weight: bold;
  background: #ffffff00;
  border: solid 2px #f68f4f;
}

.view-vax-pic {
  border-radius:30;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 1;
  color: #307f82;
  font-size: 20rem;
  font-weight: bold;
  // background: #307f82;
}

.hyperlink-camiguin {
  z-index: 0;
  color: white;
  background-color: rgba(255,255,255,0);
  // background-color: red;
  background-image: url('~/assets/images/camiguinofficial.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 80%;
}

.hyperlink-infosoft {
  z-index: 0;
  color: white;
  background-color: rgba(255,255,255,0);
  // background-color: red;
  background-image: url('~/assets/images/infosoft.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70% 80%;
}

.verified-logo {
  margin-top: 5%;
  margin: 10% 20% 10% 20%;
}

Label.hdf-verified {
  color: #2abfc4;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2%;
}

Label.hdf-alert {
  color: #f68f4f;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2%;
}

Label.ml-5 {
  margin-left: 10%;
}

MDCardView.dashboard-item {
  margin: 1.5% 0%;
}

MDCardView .image {
  background-image: url('~/assets/images/dashboard.png');
  background-color: red;
  background-repeat: no-repeat;
  background-position: center;
}

MDCardView Image.item-icon {
  // background: red;
  height: 70%;
  margin-right: 3%;
  background-position: bottom;
  // border: solid;
}

MDCardView.search {
  margin-bottom: 1%;
}

StackLayout.logs MDCardView{
  background: red;
}

StackLayout.login-field {
  margin-bottom: 10%;
}

FlexboxLayout.login-container {
  padding: 40% 0 0 0;
}

Label.version {
  margin-left: 7%;
  font-size: 13px;
  font-weight: bold;
  color: grey;
}

Image.login-image {
  // background: pink;
}

FlexboxLayout.login-field {
  background: blue;
}

.dashboard-item Label {
  font-size: 18px;
  color: white;
}

.update-button {
  background-color: #2abfc4;
  color: white;
  margin-bottom: 15%;
  // padding: 0 40px;
  // margin-left: -10px
}

.update-button.dashboard {
  background-color: #2abfc4;
  color: white;
  margin-bottom: 15%;
  padding: 0 40px;
}

MDFloatingActionButton {
  color: white;
}

.establishment-name {
  font-weight: 400;
  font-size: 20px;
}

.version-text {
  font-weight: 400;
  font-size: 20px;
}

ImageZoom {
  border: solid red 2px;
  height: 100%;
}

.center-text {
  text-align: center;
}

.max-height {
  height: 100%;
}
